# Dependencias del Sistema Burger 24/7
# Instalación: pip install -r requirements.txt

# Generación de documentos académicos de la Tesina (Word / .docx)
python-docx>=1.1.0

# Gestión y carga de variables de entorno (.env)
python-dotenv>=1.0.0

# Pruebas automatizadas y consumo de microservicios REST
requests>=2.31.0

# Hashing y validación de contraseñas seguras Bcrypt
bcrypt>=4.0.0
